<div class="text-center">
<h1>ユーザー名 : <%= @user.name %></h1>
<h1>メールアドレス : <%= @user.email %></h1>

<%= link_to "スキルマップ編集", edit_kitchen_path(@user, @kitchen_skill_map, id: @user.id) %>

<canvas id="myChart" width="50" height="50"></canvas> 
<script>
    console.log("labels", gon.kitchen_skill_labels)
    draw_graph(gon.kitchen_skill_labels, gon.kitchen_skill_values);</script>
</div>