<div class="text-center">
<h1>ユーザー名 : <%= @user.name %></h1>
<h1>メールアドレス : <%= @user.email %></h1>

<%= link_to "キッチンスキルマップ編集", edit_kitchen_path(@kitchen_skill_map, id: @user.id ) %>
<%= link_to "ホールスキルマップ編集", edit_hall_path(@hall_skill_map, id: @user.id ) %>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#kitchen" class="nav-link active" data-toggle="tab">タブ１</a>
    </li>
    <li class="nav-item">
      <a href="#hall" class="nav-link" data-toggle="tab">タブ2</a>
    </li>
  </ul>

  
  <div class="tab-content">
    <div id="kitchen" class="tab-pane active">
      <canvas id="kitchenChart" width="140" height="50"></canvas> 
      <script>
        console.log("labels", gon.kitchen_skill_labels)
        draw_graph1(gon.kitchen_skill_labels, gon.kitchen_skill_values);
      </script>
    </div>
    <div id="hall" class="tab-pane">
      <canvas id="hallChart" width="140" height="50"></canvas> 
      <script>
        console.log("labels", gon.hall_skill_labels)
        draw_graph2(gon.hall_skill_labels, gon.hall_skill_values);
      </script>
    </div>
  </div>
</div>
